{% extends 'base.html' %}
    {% block title %} Unchecked todo list {% endblock %}
    {% block content %}
        <h2>Tasks in "{{ list.name }}"</h2>
        <button type="button" class="btn btn-primary">Add Task</button>
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Task</th>
                    <th>Created</th>
                    <th>Due on</th>
                    <th>Owner</th>
                    <th>Mark</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            {{ task.name }}
                        </td>
                        <td>
                            {{ task.created }}
                        </td>
                        <td>
                            {{ task.due }}
                        </td>
                        <td>
                            {{ task.user }}
                        </td>
                        <td>
                            <button class="btn btn-info">
                                {% if task.completed %}
                                    Done
                                {% else %}
                                    Active
                                {% endif %}
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-warning" href="{% url 'completed_todo_lists' list.id %}">View completed tasks</a>
        <button class="btn btn-danger">Delete list</button>
    {% endblock %}